body{
background-color: #E8E8E8;}

/* Header Rules*/

header  { 
    color: #000;
    font-size: 35%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight:500;
        }

header a:link{
       text-decoration:none;
       color: #008a76;
}

header a:hover{
    text-decoration: underline;
    font-weight: 600;}

header a:visited {
    color:#008a76;
}
   
/* Navigation Rules */
nav {
    font-size: 19px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background-color: #008a76;
    height: 50%;
    text-align: center;
        }

nav a{
    margin: 10px 10px 10px 10px;
    display:inline-block;
     }

nav a:link {
    color: #fff;
    text-decoration:none;
    width: 150px;
        }

nav a:hover{
    text-decoration: underline;
    font-weight:800;
}

nav a:visited {
    color: #fff;
}

/* Article Rules*/

h1{ 
    color: #008a76;
    font-size: 30px;
  }

h2 {
    color: #000;
      }

p {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 24px;
    }

p a:link{
    text-decoration:none;
    color: #008a76;
}

p a:hover{
    text-decoration:underline;
}

p a:visited{
    color:#008a76;
}

ul {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    }

ul a:link{
    color:#008a76;
    text-decoration:none;
}

ul a:hover{
    text-decoration:underline;
}

ul a:visited{
    color:#008a76;
    text-decoration: none
}

img { 
    margin-top: 30px;
    display:block;
    margin-left:auto;
    margin-right: auto
    }


#fanaticfashions{
    float: right;
}

#blogtext{
width: 50%;
    margin-left: 10%;
    margin-right: 10%;    
}

#logo

/*Footer Rules*/

footer {
    clear:both;
    background-color: #008a76;
    height:50%;
    color: #fff;
    font-size: 15px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
           }

footer a{
    margin: 15px;
    font-size: 19px;
    margin: 10px 10px 10px 10px;
    display:inline-block;
    }

footer a:link {
    color: #fff;
    text-decoration:none;
    width: 150px
    }

footer a:hover {
    text-decoration: underline;
    font-weight:800;
}

footer a:visited {
    color:#fff;
}

/*Media Queries*/
@media screen and (max-width: 600px) {

    body{
        padding:5px;
    }
    
    h1, h2 {
            text-align:center;
    }
    
    nav {
        list-style-type:none;
        text-align:center;
        background-color:transparent;
                     
        }
    
    nav a {
            display:block;
         margin-left: auto;
        margin-right: auto; 
            background-color: #008a76;
                }
    
        
    footer a { 
        display:block;
        background-color: #008a76;}
    
     footer {
        background-color:transparent;
        }