body{
background-color: #E8E8E8;}

/* Header Rules*/

header{
width:100%;
    margin: 10px 10px 10px 10px; 
}

   
/* Navigation Rules */
nav {
    font-size: 19px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background-color: #008a76;
    height: 50%;
    text-align: center;
        }

nav a{
    margin: 10px 10px 10px 10px;
    display:inline-block;
     }

nav a:link {
    color: #fff;
    text-decoration:none;
    width: 150px;
        }

nav a:hover{
    text-decoration: underline;
    font-weight:800;
}

nav a:visited {
    color: #fff;
}

/* Article Rules*/

h1{ 
    color: #008a76;
    font-size: 30px;
  }

h2 {
    color: #55B1A3;
      }

h3 {
color: #000;
}

p {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 24px;
    }

p a:link{
    text-decoration:none;
    color: #008a76;
}

p a:hover{
    text-decoration:underline;
}

p a:visited{
    color:#008a76;
}

ul {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    }

ul a:link{
    color:#008a76;
    text-decoration:none;
}

ul a:hover{
    text-decoration:underline;
}

ul a:visited{
    color:#008a76;
    text-decoration: none
}

img { 
    margin-top: 30px;
    display:block;
    margin-left:auto;
    margin-right: auto
    }


#fanaticfashions{
    float: right;
    clear:right;
    margin: 0 10% 4% 5% ;
    padding:inherit;
}

#blogtext{
width: 50%;
margin: 12% 20% 10% 4% ;
padding: 10% 
        clear: left;
        
}

#logo{
float: right;
    clear:right;
    margin: 0 10% 4% 5% ;
    padding:inherit;
}

#text {
width: 50%;
margin: 12% 20% 10% 4% ;
padding: 10% 
        clear: left;
}


/* Footer Rules */
footer{
    clear:left;
    font-size: 19px;
    background-color:#008a76;
    height: 50%;
    width: 100%;
    text-align: center;
    display: inline-block;
        
           }

footer a{
         font-family:"Trebuchet MS", Helvetica, sans-serif;
    margin: 15px;
    font-size: 19px;
      display:inline-block;
    }

footer a:link {
    color: #fff;
    text-decoration:none;
    width: 150px
    }

footer a:hover {
    text-decoration: underline;
    font-weight:800;
}

footer a:visited {
    color:#fff;
}

/*Media Queries*/
@media screen and (max-width: 600px) {

    body{
        padding:5px;
    }
    
    h1, h2 {
            text-align:center;
    }
    
    nav {
        list-style-type:none;
        text-align:center;
        background-color:transparent;
                 
        }
    
    nav a {
            display:block;
         margin-left: auto;
        margin-right: auto; 
            background-color: #008a76;
                }
    
        
    footer a { 
        display:block;
        margin-left: auto;
        margin-right: auto; 
        background-color: #008a76;}
    
     footer {
        background-color:transparent;
        list-style-type:none;
        }